<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content class="ion-padding">


        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>


        </ion-header>
        <ion-menu-toggle>
          <ion-list>
            <ion-item [routerLink]="['home']">Home</ion-item>
            <ion-item [routerLink]="['category']">Category</ion-item>
            <ion-item [routerLink]="['boisson']">Boissons</ion-item>
            <ion-item [routerLink]="['client']">Client</ion-item>
            <ion-item [routerLink]="['fournisseur']">Fournisseur</ion-item>
            <ion-item [routerLink]="['facture']">Facture</ion-item>

          </ion-list>
        </ion-menu-toggle>



      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane></ion-app>